
pisoMasAlto/pisoMasAlto.xcodeproj/xcuserdata/lenylopez.xcuserdatad/xcschemes/xcschememanagement.plist
pisoMasAlto/pisoMasAlto.xcodeproj/project.xcworkspace/xcuserdata/lenylopez.xcuserdatad/UserInterfaceState.xcuserstate
pisoMasAlto/pisoMasAlto.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
pisoMasAlto/pisoMasAlto.xcodeproj/project.xcworkspace/contents.xcworkspacedata
pisoMasAlto/pisoMasAlto.xcodeproj/project.pbxproj
separarPalabras/.DS_Store
